/8to1MUX
/bjq_useip
/ConuterMOD12
/D
/Generator4-Beat
/HalfAdder
/JK
/OR
/sxy_FullAdder
/sxy_VotingMachine
/WaterLamp
/Lock/LOCK.sim
/Lock/LOCK.runs
/Lock/LOCK.ip_user_files
/Lock/LOCK.hw
/Lock/LOCK.hbs
/Lock/LOCK.cache
/Lock/LOCK.xpr